USE [master]
GO
/****** Object:  Database [Tour Сompany]    Script Date: 28.05.2025 18:16:16 ******/
CREATE DATABASE [Tour Сompany]
GO
USE [Tour Сompany]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 28.05.2025 18:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NULL,
	[TourId] [int] NULL,
	[StaffId] [int] NULL,
	[BookingDate] [date] NULL,
	[Status] [nvarchar](20) NULL,
	[PaymentAmount] [decimal](10, 2) NULL,
	[PaymentStatus] [nvarchar](20) NULL,
	[ScannedDoc] [varbinary](max) NULL,
 CONSTRAINT [PK__Bookings__3214EC07853E02BC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 28.05.2025 18:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryId] [int] NULL,
	[CityName] [nvarchar](100) NULL,
 CONSTRAINT [PK__Cities__3214EC07E8FB10CC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 28.05.2025 18:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[ThirdName] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[PassportNumber] [nvarchar](20) NULL,
	[RegistrationDate] [date] NULL,
 CONSTRAINT [PK__Clients__3214EC07A9A082F8] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 28.05.2025 18:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](100) NULL,
	[VisaRequired] [bit] NULL,
 CONSTRAINT [PK__Countrie__3214EC075A07894D] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 28.05.2025 18:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityId] [int] NULL,
	[HotelName] [nvarchar](100) NULL,
	[StarRating] [int] NULL,
	[Address] [nvarchar](200) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 28.05.2025 18:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Id] [int] NOT NULL,
	[FirstName] [nvarchar](70) NULL,
	[SecondName] [nvarchar](70) NULL,
	[ThirdName] [nvarchar](70) NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tours]    Script Date: 28.05.2025 18:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tours](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TourName] [nvarchar](100) NULL,
	[Description] [nvarchar](1000) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[HotelId] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[AvailablePlaces] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([Id], [ClientId], [TourId], [StaffId], [BookingDate], [Status], [PaymentAmount], [PaymentStatus], [ScannedDoc]) VALUES (1, 1, 1, 1, CAST(N'2023-05-01' AS Date), N'Confirmed', CAST(120000.00 AS Decimal(10, 2)), N'Paid', NULL)
INSERT [dbo].[Bookings] ([Id], [ClientId], [TourId], [StaffId], [BookingDate], [Status], [PaymentAmount], [PaymentStatus], [ScannedDoc]) VALUES (2, 2, 3, 1, CAST(N'2023-05-10' AS Date), N'Confirmed', CAST(90000.00 AS Decimal(10, 2)), N'PartiallyPaid', NULL)
INSERT [dbo].[Bookings] ([Id], [ClientId], [TourId], [StaffId], [BookingDate], [Status], [PaymentAmount], [PaymentStatus], [ScannedDoc]) VALUES (3, 3, 4, 2, CAST(N'2023-05-15' AS Date), N'Pending', CAST(350000.00 AS Decimal(10, 2)), N'Unpaid', NULL)
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [CountryId], [CityName]) VALUES (1, 1, N'Анталия')
INSERT [dbo].[Cities] ([Id], [CountryId], [CityName]) VALUES (2, 1, N'Стамбул')
INSERT [dbo].[Cities] ([Id], [CountryId], [CityName]) VALUES (3, 2, N'Хургада')
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([Id], [FirstName], [LastName], [ThirdName], [PhoneNumber], [Email], [PassportNumber], [RegistrationDate]) VALUES (1, N'Иван', N'Иванов', N'Петрович', N'+79161234567', N'ivanov@mail.ru', N'1234567890', CAST(N'2023-01-10' AS Date))
INSERT [dbo].[Clients] ([Id], [FirstName], [LastName], [ThirdName], [PhoneNumber], [Email], [PassportNumber], [RegistrationDate]) VALUES (2, N'Петр', N'Петров', N'Сергеевич', N'+79169876543', N'petrov@gmail.com', N'0987654321', CAST(N'2023-02-15' AS Date))
INSERT [dbo].[Clients] ([Id], [FirstName], [LastName], [ThirdName], [PhoneNumber], [Email], [PassportNumber], [RegistrationDate]) VALUES (3, N'Анна', N'Сидорова', N'Дмитриевна', N'+79167778899', N'sidorova@yandex.ru', N'1122334455', CAST(N'2023-03-20' AS Date))
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Id], [CountryName], [VisaRequired]) VALUES (1, N'Турция', 0)
INSERT [dbo].[Countries] ([Id], [CountryName], [VisaRequired]) VALUES (2, N'Египет', 0)
INSERT [dbo].[Countries] ([Id], [CountryName], [VisaRequired]) VALUES (3, N'Италия', 1)
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Hotels] ON 

INSERT [dbo].[Hotels] ([Id], [CityId], [HotelName], [StarRating], [Address], [PhoneNumber]) VALUES (1, 1, N'Rixos Premium Belek', 5, N'Uckum Tepesi Mevkii, Belek, Serik', N'+90 242 710 15 00')
INSERT [dbo].[Hotels] ([Id], [CityId], [HotelName], [StarRating], [Address], [PhoneNumber]) VALUES (2, 1, N'Kempinski Hotel The Dome', 5, N'Guzelbag Beldesi, Belek', N'+90 242 710 23 00')
INSERT [dbo].[Hotels] ([Id], [CityId], [HotelName], [StarRating], [Address], [PhoneNumber]) VALUES (3, 3, N'Steigenberger Alcazar', 5, N'El Corniche Road, Hurghada', N'+20 65 346 49 00')
SET IDENTITY_INSERT [dbo].[Hotels] OFF
GO
INSERT [dbo].[Staff] ([Id], [FirstName], [SecondName], [ThirdName], [Login], [Password]) VALUES (1, N'Ольга', N'Васильева', N'Игоревна', N'vasileva', N'pass123')
INSERT [dbo].[Staff] ([Id], [FirstName], [SecondName], [ThirdName], [Login], [Password]) VALUES (2, N'Алексей', N'Николаев', N'Сергеевич', N'nikolaev', N'pass456')
INSERT [dbo].[Staff] ([Id], [FirstName], [SecondName], [ThirdName], [Login], [Password]) VALUES (3, N'Светлана', N'Морозова', N'Дмитриевна', N'morozova', N'pass789')
GO
SET IDENTITY_INSERT [dbo].[Tours] ON 

INSERT [dbo].[Tours] ([Id], [TourName], [Description], [StartDate], [EndDate], [HotelId], [Price], [AvailablePlaces]) VALUES (1, N'Отдых в Анталии', N'7 ночей в 5-звездочном отеле Rixos Premium Belek с питанием "все включено"', CAST(N'2023-06-15' AS Date), CAST(N'2023-06-22' AS Date), 1, CAST(120000.00 AS Decimal(10, 2)), 15)
INSERT [dbo].[Tours] ([Id], [TourName], [Description], [StartDate], [EndDate], [HotelId], [Price], [AvailablePlaces]) VALUES (2, N'Романтический Париж', N'5 ночей в 4-звездочном отеле в центре Парижа с завтраками', CAST(N'2023-07-10' AS Date), CAST(N'2023-07-15' AS Date), 5, CAST(150000.00 AS Decimal(10, 2)), 8)
INSERT [dbo].[Tours] ([Id], [TourName], [Description], [StartDate], [EndDate], [HotelId], [Price], [AvailablePlaces]) VALUES (3, N'Экскурсионный тур по Риму', N'4 ночи в отеле Artemide с экскурсиями по главным достопримечательностям', CAST(N'2023-08-01' AS Date), CAST(N'2023-08-05' AS Date), 4, CAST(90000.00 AS Decimal(10, 2)), 12)
SET IDENTITY_INSERT [dbo].[Tours] OFF
GO
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [DF__Bookings__Status__6477ECF3]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [DF__Bookings__Paymen__66603565]  DEFAULT ('Unpaid') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Countries] ADD  CONSTRAINT [DF__Countries__VisaR__45F365D3]  DEFAULT ((0)) FOR [VisaRequired]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK__Bookings__Client__68487DD7] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK__Bookings__Client__68487DD7]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK__Bookings__TourId__693CA210] FOREIGN KEY([TourId])
REFERENCES [dbo].[Tours] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK__Bookings__TourId__693CA210]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Staff] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Staff]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK__Cities__CountryI__4BAC3F29] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK__Cities__CountryI__4BAC3F29]
GO
ALTER TABLE [dbo].[Hotels]  WITH CHECK ADD FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD FOREIGN KEY([HotelId])
REFERENCES [dbo].[Hotels] ([Id])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK__Bookings__Paymen__6754599E] CHECK  (([PaymentStatus]='Paid' OR [PaymentStatus]='PartiallyPaid' OR [PaymentStatus]='Unpaid'))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK__Bookings__Paymen__6754599E]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK__Bookings__Status__656C112C] CHECK  (([Status]='Completed' OR [Status]='Cancelled' OR [Status]='Confirmed' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK__Bookings__Status__656C112C]
GO
ALTER TABLE [dbo].[Hotels]  WITH CHECK ADD CHECK  (([StarRating]>=(1) AND [StarRating]<=(5)))
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD CHECK  (([EndDate]>[StartDate]))
GO
USE [master]
GO
